.white {
  background-color: white;
  color: black;
}

.gray {
  background-color: gray;
  color: black;
}

.yellow {
  background-color: yellow;
  color: black;
}

.green {
  background-color: green;
  color: white;
}
