.letter-square {
  width: 85px;
  height: 85px;
  margin-right: 8px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 85px;
  font-size: 20px;
  font-weight: bold;
}

.letter-row {
  display: flex;
}

.letter-row div {
  flex: 0 1 auto;
  margin-bottom: 12px;
}